.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 101;

}

.sidebar-link{
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(235,235,235);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-weight: 400;
  font-size: 10px;
  color: black;
}